@media (max-width: 768px) {
    header, main, footer {
      padding: 10px;
    }
  }
  
  
  body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh; 
  }
  
  header {
    background-color: #d3d3d3;
    color: #000000;
    padding: 10px 0;
  }
  
  nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: right;
  }
  
  nav ul li {
    margin: 0 10px;
  }
  
  nav ul li a {
    color: #000000;
    text-decoration: none;
    font-weight: bold;
    
  }
  
  main {
    flex: 1;
    padding: 20px;
    display: flex;
    flex-direction: column;
  }
  h1,p,h2{
    text-align: center;
    text-shadow: #464646 ;
  }
  
  p{
    color: #464646;
  }
  
  footer {
    text-align: center;
    padding: 10px 0;
    background-color: #333;
    color: #fff;
  }
  
  
  .call-to-action-content {
    text-align: center;
  }
  
  .form-and-image-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    margin-top: 20px;
    border-radius: 10x;
  }
  h2{
    justify-content: right;
  }
  
  .form-container,
  .image-container {
    flex: 1;
    max-width: 300px;
    padding: 0 20px;
  }
  
  .form-container p{
    font-size: 10px;
  }
  
  .form-container{
    background-color: rgb(221, 221, 221);
    border-radius: 10px;
  }
  
  .image-container img {
    max-width: 100%;
    height: auto;
    display: flex;
    margin: 0 auto;
    border-radius: 10px;
  }
  
  form input[type="text"],
  form input[type="email"],
  form button {
    width: 100%;
    margin-bottom: 10px;
    padding: 8px;
    box-sizing: border-box;
  }
  
  form button {
    background-color: #333;
    color: #fff;
    border: none;
    cursor: pointer;
  }
  
  #packages {
    display: flex;
    justify-content: space-around;
    margin-top: 40px;
  }
  
  .package {
    width: 45%;
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s ease-in-out;
  }
  
  .package img{
    max-width: 100%;
    height: auto;
    display: flex;
    margin: 0 auto;
    border-radius: 10px;
  }
  
  .package:hover {
    transform: translateY(-5px);
  }
  
  .package h2 {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
    font-size: 1.5em;
  }
  
  .package-description p {
    font-size: 1.1em;
  }
  
  .block-separator {
    text-align: center;
    margin: 40px 0;
  }
  
  .block-separator span {
    display: block;
    padding: 25px 30px;
    background-color: #333;
    color: #fff;
    font-size: 30px;
  }
  
  .bottom-button {
    text-align: center;
    margin: 20px 0;
  }
  
  .bottom-button button {
    padding: 10px 20px;
    font-size: 1em;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
  }
  
  .bottom-button button:hover {
    background-color: #fff;
    color: #333;
  }
  
  
  